# Cambiar este dominio por el que configures en DNS
DOMAIN=animo.kaimindconsulting.com

# Email para certificado SSL Let's Encrypt
ADMIN_EMAIL=tu@email.com

# Genera con: openssl rand -hex 32
DB_PASSWORD=cambia_esto_por_una_contrasena_segura
JWT_SECRET=cambia_esto_por_un_secreto_seguro
